html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color:transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(8, 22, 33);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(5, 17, 28);
}

body {
	background-color: #1c1b21;
	font-family: "Trebuchet MS";
	height: 100%;
	width: 100%;
	margin: 0 auto 0 auto;
}


#home {
	width: 1325px;
	max-width: 1325px;
	height: 1000px;
	margin: 0 auto 0 auto;
}

.title {
	padding-left: 50px;
}


.profile-pic {
	width: 50%;
	min-width: 40%;
	max-width: 60%;
	height: 1000px;
	min-height: 800px;
	margin-bottom: 20px;
	margin-left: -40px;
	float: left;
	border-radius: 10px;
	border: 2px solid #0c0c0d;
	position: relative;
	right: 10px;
}

.introduction {
	background-color: black;
	border-radius: 10px;
	border: 1px solid black;
	height: 1000px;
	float: right;
	width: 52%;
	margin-bottom: 20px;
	opacity: 80%
	position: relative;
	margin-right: -15px;
}

.introduction p {
	padding: 20px;
	text-align: center;
	color: white;
}

header {
	background-image: url("./Photos/black_minimal_header.jpeg");
	border-radius: 10px;
	margin: 0;
	padding-top: 180px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-position: 0px -300px;
}

footer {
	background-image: url("./Photos/black_minimal_header.jpeg");
	border-radius: 10px;
	text-align: center;
	height: 80px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	bottom: 0
}

.contactinfo {
	float: right;
	margin-top: -100px;
	text-align: center;
}

.contactinfo img {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: 15px;
}

.contactinfo img:hover {
	height: 30px;
	width: 30px;
}

.title {
	text-align: center;
	color: white;
	font-size: 50px;
	font-family: "Andale Mono";
	letter-spacing: 2px;
	padding-top: 10px;
	margin-left: 60px;
}

.navigation {
	position: relative;
	width: 100%;
}

.navigation a {
	text-decoration: none;
	color: white;
}

.navigation a:hover {
	font-weight: 1000;
}

.navigation li {
	display: inline-block;
	margin: 20px 110px;
}

.capitalize {
	text-transform: uppercase;
}


h3 {
	font-family: "Andale Mono";
	color: white;
	text-align: center;
	font-size: 45px;
	margin-top: 80px;
}


#linkedin {
	width: 45px;
}


.panel {
	width: 100%;
	height: 200px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 10px;
	margin-left: 10px;
	padding: 10px 0px;
	display: none;
}

.pagesContainer {
	margin: 0 auto 0 auto;
	width: 1325px;
}

#aboutme, #myresume, #myhobbies {
	margin-bottom: 20px;
	margin-left: -25px;
}

button {
	border: none;
	width: 100%;
	opacity: 80%;
	color: white;
	padding: 5px 550px;
	margin-left: 10px;
	font-family: "Trebuchet MS";
}

button:hover h3 {
	font-size: 3rem;
}


#aboutme button{
	background-image: url("./Photos/green_minimal_aboutme.jpg");
	background-size: cover;
}

#myhobbies button {
	background-image: url("./Photos/blue_minimal_myhobbies.jpeg");
	background-size: cover;	
	background-position: -200px 0px;
}

#myresume button {
	background-image: url("./Photos/orange_minimal_myresume.jpeg");
	background-size: cover;
}

#mePanel {
	box-shadow: 5px 10px rgb(20, 41, 28);
}

#hobbiesPanel {
	box-shadow: 5px 10px rgb(39, 39, 56);
}

#resumePanel {
	box-shadow: 5px 10px rgb(199, 152, 113);
}